*{margin: 0px; padding: 0px; border: 0px;}
body{
  font-family: 'century gothic', arial, sans-serif;
}
p{margin: 30px 0px;}
.wrapper header{
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  width: 100%;
  text-align: center;
  height: 75px; line-height: 75px;
  background: rgba(0, 0, 0, 0.2);
}
header nav li{display: inline; list-style: none;}
header nav li a{
  text-decoration: none;
  color: #fff;
  padding: 15px 50px;
  text-transform: capitalize;
}
header nav li a:hover{
  text-decoration: underline;
  color: #fff;
}
a span#brand-link{font-size: 32px;}
.banner{
  background-image: url('../images/escalator.jpg');
  width: 100%;
  height: 870px;;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.banner-content{
  padding-top: 360px;
  color: #fff;
  text-align: center;
}
.banner-content h1{
  font-size: 80px;
  margin: 0px;
}
.banner-content p{
  font-size: 28px;
}
.banner-content_text{
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 30px 0px;
  position: relative;
}
.banner-content #btn-cta{
  padding: 20px;
  /*background-color: #37f; 6a5409*/
  /*background-color: #c6ac33;*/
  background-color: #6a5409;
  color: #fff;
  width: 200px;
  font-size: 20px;
  border: 0px;
}
.banner-content #btn-cta:hover{
  background-color: transparent;
  /*border: 1px solid #ccc; */
  border: 1px solid #6a5409;
  /*color: #aaa; */
  color: #6a5409;
  text-decoration: none;
}

.gallery{
  background-color: #000;
  padding: 30px 0px;
  color: #fff;
  text-align: center;
}

.gallery-content h2{
  font-size: 40px;
}
.gallery-thumb img{
  width: 550px; height: auto;
  margin-top: 30px;
}
.gallery-thumb h2{margin-top: 30px;}

.about-content{margin-top: 75px;}
.about-content h1{
  margin: 90px 0px 0px 0px;
}

.about-image{float: left;}
.about-image img{width: 640px; height: auto;}
.about-text{float: right; width: 1200px; padding: 60px 40px;}

footer{background-color: #222; color: #999; text-align: center; height: 45px; line-height: 45px;}
footer p{margin: 0px;}
